{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rústico Producciones</title>
    <link rel="stylesheet" href="{% static './css/nosotros_style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static './js/header.js' %}"></script>

</head>

<body>
    <div class="headerw">
        <header>
            <div class="wrapper">
                <div class="logo">
                    <div class="logoimg">
                        <img class="logoimgg" src="{% static './media/images/16.9 negro.jpg' %}" alt="">
                    </div>
                    <div class="logotext">
                        <h1 class="titulo">Rústico Producciones</h1>
                    </div>
                </div>
                <div class="navbar">
                    <nav>
                        <div class="navbarin">
                            <ul>
                                <b><strong>
                                        <div class="navbutton" id="inicio">
                                            <a href="../index.html">
                                                <li>Inicio</li>
                                            </a>
                                        </div>
                                        <div class="navbutton" id="proyectos">
                                            <a href="../proyectos.html">
                                                <li>Proyectos</li>
                                            </a>
                                        </div>
                                        <div class="navbutton" id="us">
                                            <a href="#">
                                                <li>Nosotros</li>
                                            </a>
                                        </div>
                                        <div class="navbutton" id="contacto">
                                            <a href="../contacto.html">
                                                <li>Contacto</li>
                                            </a>
                                        </div>
                                </b></strong>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    </div>


    <main>
        <div class="maincont">
            <div class="princcont">
                <h1 class="principal">Team Rústico</h1>
            </div>
              
    
            <div id="app">
    
      
                <div class="card">
                    <div class="face front">
                      
                        <img :src="usuarios[0].imagen_url" alt="Imagen">    
                    </div>
                    <div class="face back">
                           <h1>-- usuarios[0].area --</h1>    
                        <h1 class="">-- usuarios[0].nombre --</h1>
                    </div>
                </div>
    
                <div class="card">
                    <div class="face front">
                      
                        <img :src="usuarios[1].imagen_url" alt="Imagen" >    
                    </div>
                    <div class="face back">
                           <h1>-- usuarios[1].area --</h1>    
                        <h1 class="">-- usuarios[1].nombre --</h1>
                    </div>
                </div>
                <div class="card">
                    <div class="face front">
                      
                        <img :src="usuarios[2].imagen_url" alt="Imagen" >    
                    </div>
                    <div class="face back">
                           <h1>-- usuarios[2].area --</h1>    
                        <h1 class="">-- usuarios[2].nombre --</h1>
                    </div>
                </div>
                <div class="card">
                    <div class="face front">
                      
                        <img :src="usuarios[3].imagen_url" alt="Imagen" >    
                    </div>
                    <div class="face back">
                           <h1>-- usuarios[3].area --</h1>    
                        <h1 class="">-- usuarios[3].nombre --</h1>
                    </div>
                </div>
                <div class="card">
                    <div class="face front">
                      
                        <img :src="usuarios[4].imagen_url" alt="Imagen" >    
                    </div>
                    <div class="face back">
                           <h1>-- usuarios[4].area --</h1>    
                        <h1 class="">-- usuarios[4].nombre --</h1>
                    </div>
                </div>
    
    
    
    
            </div>
    
    
            <script>
    
    
                new Vue({

                    el: '#app',
                    data: {
                    usuarios: JSON.parse('{{ usuarios | safe }}')
                    },
                    mounted() {
                        fetch("{% static '../../templates/nosotros/data.json' %}")
                            .then(response => response.json())
                            .then(data => {
                                this.usuarios = data;
                            })
                            .catch(error => console.log(error));
                    },
                
                    delimiters: [
                        
                        "--", "--"

                    ]
                
                });
            </script>
        </div>
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <footer>
        <p>Copyright © 2023 Rústico Producciones</p>
    </footer>
</body>

<br>


</html>