{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rústico Producciones - Contacto</title>
    <link rel="stylesheet" href="{% static './css/contacto.css' %}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://kit.fontawesome.com/d0e6e2088b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="headerw">
        <header>
            <div class="wrapper">
                <div class="logo">
                    <div class="logoimg">
                        <img src="{% static './media/images/16.9 negro.jpg' %}" alt="" height="150px" width="250px">
                    </div>
                    <div class="logotext">
                        <h1 class="titulo">Rústico Producciones</h1>
                    </div>
                </div>
                <div class="navbar">
                    <nav>
                        <div class="navbarin">
                            <ul>
                                <b><strong>
                                        <div class="navbutton" id="inicio">
                                            <a href="./index.html">
                                                <li>Inicio</li>
                                            </a>
                                        </div>
                                        <div class="navbutton" id="proyectos">
                                            <a href="./proyectos.html">
                                                <li>Proyectos</li>
                                            </a>
                                        </div>
                                        <div class="navbutton" id="us">
                                            <a href="./nosotros/nosotros.html">
                                                <li>Nosotros</li>
                                            </a>
                                        </div>
                                        <div class="navbutton" id="contacto">
                                            <a href="#">
                                                <li>Contacto</li>
                                            </a>
                                        </div>
                                </b></strong>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    </div>

    <main>
        <section class="contact">
            <div class="u-wrapper">
                <div class="contact-content">

                    <form id="form" action="" class="form">
                        <h3 class="tag"><span>Contactanos</span></h3>
                        <label for="name">Nombre Completo <span>*</span></label>
                        <input name="name" required type="text" id="name" placeholder="Tu nombre">
                        <label for="email">Correo electrónico <span>*</span></label>
                        <input name="email" type="text" id="email" required
                            placeholder=" tu direccion de correo@gmail.com">
                        <label for="message">Mensaje</label>
                        <textarea id="message" name="message" id="" cols="30" rows="10"></textarea>
                        <button type="submit" class="btn primary full">enviar mensaje</button>
                    </form>
                    <a href="mailto:produccionesvaz@gmail.com" id="correo"></a>
                </div>
            </div>
        </section>
    </main>

    <footer>

        <div class="footercontainer">
            <div class="social-item">
                <a href="mailto:12rusticoproducciones@gmail.com"> <i class="fa-solid fa-envelope"></i></a>
                <a href=https://api.whatsapp.com/send?phone=%2B541166576421&text=hola%21%0AQuiero+saber+mas+de+tus+servicios%21> <i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/rustico.producciones/"> <i class="fa-brands fa-instagram"></i></a>
                <a href="https://youtube.com/@rusticoproducciones2991"> <i class="fa-brands fa-youtube"></i></a>
            </div>

            <div class="footertexto"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13141.760812190934!2d-58.4515826!3d-34.5677265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1671577734402!5m2!1ses!2sar"
                    width="150px" height="150px" style="border: 0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="footertexto">
                <p>Copyrights © 2023 Rústico Producciones</p>
            </div>
        </div>
    </footer>
</body>
<script>
    const $form = document.querySelector('#form')
    const $buttonMailto = document.querySelector('#correo')

    $form.addEventListener('submit', handleSubmit)

    function handleSubmit(event) {
        event.preventDefault()
        const form = new FormData(this)
        $buttonMailto.setAttribute('href', `mailto:12rusticoproducciones@gmail.com?subject=nombre ${form.get('name')}  correo ${form.get('email')}&body=${form.get('message')}`)
        $buttonMailto.click()
    }
</script>

</html>